#about{
	height: 96rem;
	position: relative;
	background: url(../img/photo2.jpg) no-repeat bottom center;
	background-color: @main-back;
	background-size: cover;
	text-align: right;

	.text{
		text-align: center;
		max-width: 35%;
		position: absolute;
		bottom: 7.8rem;
		left: 20%;
		text-transform: uppercase;
	}

	h2{
		.OswaldB(10rem);
		line-height: 7.8rem;
		color: @brown;
		text-align: center;
		margin: 0;

		span{
			color: @main;
			display: block;
		}
	}

	article{
		max-width: 45%;
		display: inline-block;
		text-align: center;
		margin-top: 20%;
		margin-right: 15%;
		color: @main;

		// ul{
		// 	transform: rotate(90deg);
		// 	.LoraB(1.2rem);
		// 	color: @brown;
		// 	line-height: 1.8rem;
		// 	list-style-type: none;
		// 	padding: 0;
		// 	display: inline-block;
		// 	text-transform: uppercase;
		// 	text-align: start;

		// 	li:before{
		// 		content: "•";
		// 		display: inline-block;
		// 		font-size: 2rem;
		// 		color: @brown;
		// 		margin: 0 1rem;
		// 		vertical-align: middle;
		// 	}
		// }

		h3{
			.Oswald(3.6rem);
		}

		p{
			.Lora(1.8rem);
			line-height: 3.6rem;
			text-align: start;
			max-width: 46.5rem;
		}
	}
}