@media screen and (max-width:850px) {
	#music{
		.jouele{
			width: 100%;
		}
	}

	header .head-text {
		padding: 6% 2%;
	}
}

@media screen and (max-width:740px) {
	header {
		min-height: 38rem;
		height: 100%;

		nav{
			text-align: center;

			.lang {
				position: absolute;
	    	top: 0;
	    	right: 5%;

				a{
					font-size: 1.2rem;
				}
			}
		}
	}


	footer .bottom nav{
		float: none;
		text-align: center;
		width: 100%;
    padding: 7rem 0;
    box-sizing: border-box;
	}

	header .head-text h1,
	#about h2,
	footer h2{
		font-size: 6rem;
	}

	#about .text{
		left: 40%;
	}
}

@media screen and (max-width:640px) {
	header .head-text {
		float: none;

		h1{
			color: @light;
		}
	}

	footer h2 a{
		font-size: 4rem;
	}
}

@media screen and (max-width:565px) {
	header nav{
		width: 100%;
	}

	#about .text{
		max-width: 100%;
		left: 0;
		right: 0;

		h2 span{
			color: @brown;
		}
	}
}

@media screen and (max-width:480px) {
	//Burger menu styles
	.hidden-menu {
	  display: block;
	  position: fixed;
	  list-style:none;
	  padding: 10px;
	  margin: 0;
	  box-sizing: border-box;
	  width: 200px;
	  background-color: @light-back;
	  height: 100%;
	  top: 0;
	  left: -200px;
	  transition: left .2s;
	  z-index: 990;
	  -webkit-transform: translateZ(0);
	  -webkit-backface-visibility: hidden;
	}

	.hidden-menu-ticker {
	  display: none;
	}

	.btn-menu {
	  color: @brown;
	  background-color: initial;
	  padding: 5px;
	  position: fixed;
	  top: 5px;
	  left: 5px;
	  cursor: pointer;
	  transition: left .23s;
	  z-index: 999;
	  width: 25px;
	  -webkit-transform: translateZ(0);
	  -webkit-backface-visibility: hidden;

	  span{
	  	display: block;
		  height: 5px;
		  background-color: @main;
		  margin: 5px 0 0;
		  transition: all .1s linear .23s;
		  position: relative;

		  &.first{
		  	margin-top: 0;
		  }
	  }
	}

	.hidden-menu-ticker:checked ~ .btn-menu {
	  left: 160px;
	}
	.hidden-menu-ticker:checked ~ .hidden-menu {
	  left: 0;
	}
	.hidden-menu-ticker:checked ~ .btn-menu span.first {
	  -webkit-transform: rotate(45deg);
	  top: 10px;
	}
	.hidden-menu-ticker:checked ~ .btn-menu span.second {
	  opacity: 0;
	}
	.hidden-menu-ticker:checked ~ .btn-menu span.third {
	  -webkit-transform: rotate(-45deg);
	  top: -10px;
	}
//end

	#about {
		height: 65rem;
		background: none;
		background-color: #f3f1f0;

		article{
			display: block;
			margin-top: 0;
			margin-right: 0;
			margin: 0 auto;
			padding-top: 20%;
			max-width: 90%;

			h3{
				margin: 0;
			}
		}

		h2{
			font-size: 4rem;
			line-height: normal;
		}
	}

	#music {
		padding: 20% 0;

		.jouele-control-text{
			font-size: 1.8rem;
		}

		.jouele{
			padding: 6% 2%;
		}
	}

	header {
		height: 100%;

			nav a{
			display: block;
			text-align: start;
			padding: 1rem 0;

			&:after{
				display: none;
			}

			&:first-child:before{
				display: inline;
			}
		}

		nav .lang{
			position: relative;
			right: 0;
			float: none;

			a{
				display: inline-block;

				&:first-child:before{
					display: none;
				}
			}
		}

		.head-text h1{
			font-size: 4rem;
			line-height: normal;
		}
	}

	footer {
		height: 100%;

		h2{
		font-size: 4rem;
		padding-top: 20%;

			a{
				font-size: 2.5rem;
			}
		}

		.bottom{
			display: none;
		}

		.social ul li a{
			color: @light;
		}
	}
}