@import url(normalize.css);
html
{
    font-size: 62.5%;
}
@font-face
{
    font-family: 'Lora Bold';

    src: url(../fonts/Lora-Bold.ttf);
}
@font-face
{
    font-family: 'Lora Italic';

    src: url(../fonts/Lora-Italic.ttf);
}
@font-face
{
    font-family: 'Lora Regular';

    src: url(../fonts/Lora-Regular.ttf);
}
@font-face
{
    font-family: 'Oswald Bold';

    src: url(../fonts/Oswald-Bold.ttf);
}
@font-face
{
    font-family: 'Oswald Light';

    src: url(../fonts/Oswald-Light.ttf);
}
@font-face
{
    font-family: 'Oswald Regular';

    src: url(../fonts/Oswald-Regular.ttf);
}
header
{
    width: 100%;
    height: 100vh;

    background: url(../img/header.jpg) no-repeat center;
    background-size: cover;
}
header nav
{
    width: 80%;
    max-width: 149rem;
    margin: 0 auto;
    padding-top: 8vh;

    text-align: left;
}
header nav a
{
    font-family: 'Lora Bold';
    font-size: 1.8rem;

    display: inline-block;

    margin: 1rem;
    margin-left: 0;

    text-decoration: none;
    text-transform: uppercase;

    color: #241c18;
}
header nav a:after
{
    display: block;

    width: 100%;
    height: 1.5rem;
    margin-left: 1rem;

    content: '';
    -webkit-transition: opacity .3s;
            transition: opacity .3s;

    opacity: 0;
    background: url(../img/link-active.png) repeat-x right;
}
header nav a:hover:after
{
    opacity: 1;
}
header nav a:before
{
    margin-right: 1rem;

    content: '•';

    color: #826b60;
}
header nav a:first-child:before
{
    display: none;
}
header nav a:first-child:after
{
    margin-left: 0;
}
header .head-text
{
    float: right;

    height: 60%;
    margin: 0 auto;
    padding: 0 5rem;

    text-align: center;

    background: url(../img/words.png) no-repeat center;
    background-size: contain;
}
header .head-text h1
{
    font-family: 'Oswald Bold';
    font-size: 10rem;
    line-height: 7.8rem;

    text-transform: uppercase;

    color: #e4dddb;
}
header .head-text h1 span
{
    display: block;

    color: #241c18;
}
#about
{
    position: relative;

    height: 96rem;

    text-align: right;

    background: #f3f1f0;
    background: url(../img/photo2.jpg) no-repeat bottom center;
    background-color: #f3f1f0;
    background-size: cover;
}
#about .text
{
    position: absolute;
    bottom: 7.8rem;
    left: 20%;

    max-width: 35%;

    text-align: center;
    text-transform: uppercase;
}
#about h2
{
    font-family: 'Oswald Bold';
    font-size: 10rem;
    line-height: 7.8rem;

    margin: 0;

    text-align: center;

    color: #826b60;
}
#about h2 span
{
    display: block;

    color: #241c18;
}
#about article
{
    display: inline-block;

    max-width: 45%;
    margin-top: 20%;
    margin-right: 15%;

    text-align: center;

    color: #241c18;
}
#about article h3
{
    font-family: 'Oswald Regular';
    font-size: 3.6rem;
}
#about article p
{
    font-family: 'Lora Regular';
    font-size: 1.8rem;
    line-height: 3.6rem;

    max-width: 46.5rem;

    text-align: start;
}
footer
{
    position: relative;

    width: 100%;
    height: 96rem;

    text-align: center;

    background: url(../img/footer.jpg) no-repeat center;
    background-size: cover;
}
footer h2
{
    font-family: 'Oswald Bold';
    font-size: 8rem;

    margin: 0 auto;
    padding-top: 18rem;

    text-transform: uppercase;
}
footer h2 a
{
    display: block;

    text-decoration: none;

    color: #e4dddb;
}
footer h2:after
{
    display: block;

    max-width: 80%;
    height: 2px;
    margin: 3rem auto;

    content: '';

    background: url(../img/dotted.png) repeat-x center;
}
footer .social
{
    margin: 1rem auto;
}
footer .social ul
{
    display: block;

    list-style-type: none;
}
footer .social ul li
{
    display: inline-block;
}
footer .social ul li a
{
    font-size: 4rem;

    margin: 0 1.5rem;

    -webkit-transition: all .3s;
            transition: all .3s;

    color: #241c18;
}
footer .social ul li a:hover
{
    color: #e4dddb;
}
footer .bottom
{
    position: absolute;
    bottom: 0;

    display: block;

    width: 100%;
    margin: 0 auto;
}
footer .bottom p,
footer .bottom nav
{
    font-family: 'Lora Bold';
    font-size: 1.8rem;

    display: inline-block;

    padding: 7rem 10%;

    text-transform: uppercase;

    color: #e4dddb;
}
footer .bottom p
{
    float: left;

    margin: 0;
}
footer .bottom nav
{
    float: right;

    text-align: right;
}
footer .bottom nav a
{
    display: inline-block;

    margin: 0 1rem;
    margin-left: 0;

    text-decoration: none;
    text-transform: uppercase;

    color: #e4dddb;
}
footer .bottom nav a:after
{
    display: block;

    width: 100%;
    height: 1.5rem;
    margin-left: 1rem;

    content: '';
    -webkit-transition: opacity .3s;
            transition: opacity .3s;

    opacity: 0;
    background: url(../img/link-active.png) repeat-x right;
}
footer .bottom nav a:hover:after
{
    opacity: 1;
}
footer .bottom nav a:before
{
    margin-right: 1rem;

    content: '•';

    color: #826b60;
}
footer .bottom nav a:first-child:before
{
    display: none;
}
footer .bottom nav a:first-child:after
{
    margin-left: 0;
}
