section.content-block#about
	.text
		h2 Masha 
			span Julanova
	article
		//- ul
		//- 	li Composer
		//- 	li Vocal
		//- 	li Guitar

		h3 Meet me
		p.
			The best that I can offer to you it is music!
		p.
			I am open to cooperation with film directors, creators of video games and organizers of fashion displays.