section.content-block#about
	.text
		h2 Masha 
			span Julanova
	article
		//- ul
		//- 	li Composer
		//- 	li Vocal
		//- 	li Guitar

		h3 Meet me
		p.
			Ei sit persecuti temporibus. Eros detraxit ea vim, vitae nusquam tacimates duo in, putant intellegat at mea. At sint decore fastidii per. Eu dolorem sadipscing per, pro ne probo possit.