footer
	h2 Contact 
		a(href='mailto:julanova.m@gmail.com') julanova.m@gmail.com

	.social
		ul
			li
				a(href="facebook.com")
					i(class="fa fa-facebook")
			li
				a(href="vk.com")
					i(class="fa fa-vk")
			li
				a(href="youtube.com")
					i(class="fa fa-youtube")

	.bottom
		p.copy.
			Copyright 2016 © by Hell B

		nav
			a(href="#") Home
			a(href="#about") About
			a(href="#music") Music
			a(href="#tours") Tours
			a(href="#contact") Contact