footer#contact
	h2 Contact 
		a(href='mailto:julanova.m@gmail.com') julanova.m@gmail.com

	.social
		ul
			li
				a(href="https://www.facebook.com/profile.php?id=100010987845601")
					i(class="fa fa-facebook")
			li
				a(href="https://vk.com/id247466510")
					i(class="fa fa-vk")
			//- li
			//- 	a(href="youtube.com")
			//- 		i(class="fa fa-youtube")

	.bottom

		nav
			a(href="#") Home
			a(href="#about") About
			a(href="#music") Music
			a(href="#contact") Contact