header
	nav
		a(href="#") Home
		a(href="#about") About
		a(href="#music") Music
		a(href="#contact") Contact

		.lang
			a(href="#") Eng
			a(href="ru/index.html") Рус

	div.head-text
		h1
			|I'm a 
			span composer