header#top
	input(type="checkbox" id="hmt" class="hidden-menu-ticker")
	label(class="btn-menu" for="hmt")
		span(class="first")
		span(class="second")
		span(class="third")
	nav(class="hidden-menu")
		a(class="main" href="#top") Home
		a(class="main" href="#about") About
		a(class="main" href="#music") Music
		a(class="main" href="#contact") Contact

		.lang
			a(href="#") Eng
			a(href="ru/index.html") Рус

	div.head-text
		h1
			|I'm a 
			span composer